.article-image {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  margin: 0px;
  list-style: none;
}

.article-image-container {
  position: relative;
  min-height: 250px
  margin: 0px;
  list-style: none;
  img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    flex-grow: 1;
    height: $index-element-height;
  }
}

.article-title {
  position: absolute;
  display: inline-block;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  max-width: 100%;
  bottom: 25%;
  margin: 0px;
  left: 0px;
  right: 0px;
  @include relative-font-size(2);
  color: $flash1;
  background-color: transparentize($background, $transparent);
  padding: ($spacing-unit / 4) ($spacing-unit / 2) ($spacing-unit / 4);

  @include on-tablet {
    @include relative-font-size(2.25);
  }
  @include on-laptop {
    @include relative-font-size(2.625);
  }
}

.article-date {
  @include on-phone {
    @include relative-font-size(0.8);
  }
  display: inline-block;
  background-color: transparentize($flash1, $transparent);
  color: $background;
  position: absolute;
  top: 0px;
  bottom: auto;
  left: auto;
  right: 0px;
  padding: ($spacing-unit / 6) ($spacing-unit / 3) ($spacing-unit / 6);
}

.article-author {
  display: inline-block;
  @include on-phone {
    @include relative-font-size(0.8);
  }
  background-color: transparentize($background, $transparent);
  color: $foreground;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  padding: ($spacing-unit / 6) ($spacing-unit / 3) ($spacing-unit / 6);
  a {
    text-decoration: none;
    color: $flash1;
  }
}
