.post {
    margin-top: $spacing-unit;
    background-color: $background-light;
    padding: 0px;
}
.post-header {
  position: relative;
  background-color: $background-light;
  text-align: center;
  padding: 0px;
  margin: 0px 0px $spacing-unit / 2;
  width: 100%;
  
  @include on-tablet {
    .post-image {
      img {
        height: ($index-element-height * 1.5);
      }
    }
  }
}
