{%- unless include.clearfix == 'no' -%}<div class="clearfix"></div>{%- endunless -%}
{% assign rel = include.width | slice: -1 -%}
{%- if include.width and rel == '%' -%}
<figure style="max-width: {{ include.width }};"
{%- else -%}
<figure
{%- endif -%}
{%- if include.float %} class="article-float-img-{{ include.float}}" {% endif %}>

{%- comment %} this is the default behaviour if global isn't set {% endcomment -%}
{%- if page.collection and page.collection != "posts" -%}
  {%- capture imagePath %}collections/{{ page.collection }}/{{ page.title | slugify }}/{{ include.image.file }}{% endcapture -%}
  {%- assign baseimgPath = site.baseurl -%}
{%- else -%}
  {%- assign baseimgPath = site.baseurl -%}
  {%- capture imagePath %}posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ include.image.file }}{% endcapture -%}
{%- endif -%}
{%- comment %} behaviour if global is specified {% endcomment -%}
{%- if include.image.global -%}
  {%- if include.image.global == "global"-%}
    {%- capture imagePath %}global/{{ include.image.file }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- elsif include.image.global == "project" -%}
    {%- capture imagePath %}global/{{ include.image.file }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif include.image.global == "collection" and page.collection and page.collection != "posts" -%}
    {%- capture imagePath %}collections/{{ page.collection }}/{{ include.image.file }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif include.image.global != "local" -%}{%- comment %} if its not local by this point, it'll be set to true {% endcomment -%}
    {%- capture imagePath %}global/{{ include.image.file }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- endif -%}
{%- endif -%}

{%- comment %}liquid is retarded and has a replace, and a replace_first but no replace_last so we'll use some trickery to make it happen{% endcomment -%}
{%- assign imgReversed = imagePath | split: "" | reverse | join: "" -%}
{%- assign size320 = "-320." | split: "" | reverse | join: "" -%}
{%- assign size480 = "-480." | split: "" | reverse | join: "" -%}
{%- assign size800 = "-800." | split: "" | reverse | join: "" -%}
{%- assign size1200 = "-1200." | split: "" | reverse | join: "" -%}
{%- assign size1600 = "-1600." | split: "" | reverse | join: "" -%}
{%- assign size1900 = "-1900." | split: "" | reverse | join: "" -%}
{%- assign image320 = imgReversed | replace_first: '.', size320 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image480 = imgReversed | replace_first: '.', size480 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image800 = imgReversed | replace_first: '.', size800 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image1200 = imgReversed | replace_first: '.', size1200 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image1600 = imgReversed | replace_first: '.', size1600 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image1900 = imgReversed | replace_first: '.', size1900 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}

  <a href="{{ baseimgPath }}/assets/images-original/{{ imagePath }}">
  <img src="{{ image1600 }}" srcset="
  {{ image320 }} 320w,
  {{ image480 }} 480w,
  {{ image800 }} 800w,
  {{ image1200 }} 1200w,
  {{ image1600 }} 1600w,
  {{ image1900 }} 1900w
  " {%- if include.width and rel == '%' -%} 
      {%- assign relwidth = include.width | replace: '%','' | plus: 0 %}
      {%- if include.float %}
  sizes="
  (min-width: {{ site.on-laptop }}px) {% if relwidth >= 60 %}60vw{% else %}{{ relwidth | minus: 4 }}vw{% endif %},
  (min-width: {{ site.on-tablet }}px) {% if relwidth >= 45 %}45vw{% else %}{{ relwidth | minus: 4 }}vw{% endif %},
  100vw" {%- else %}
  sizes="
  (min-width: {{ site.on-tablet }}px) {{ relwidth }}vw,
  100vw" {%- endif -%}
  {%- elsif include.width %}
  sizes="{{ include.width }}"
  {%- elsif include.float %}
  sizes="
  (min-width: {{ site.on-laptop }}px) 60vw,
  (min-width: {{ site.on-tablet }}px) 45vw,
  100vw
  "
  {%- endif %}
{% if include.alt %} alt="{% if include.image.description %}{{ include.image.description }}{% elsif include.image.name%}{{ include.image.name }}{% endif %}" {% endif -%}
{%- if include.width -%}{%- unless rel == '%' %}{% if include.height %} max-{% endif %}width="{{ include.width }}" {% endunless -%}{%- endif -%}{%- if include.height %} style="max-height: {{ include.height }};" {% endif %}/>
  </a>
{% if include.image.description -%}
  <figcaption>{{ include.image.description }}
    {%- if include.image.creator%}{% if include.image.name %}<br />'{{ include.image.name }}' by
    {%- else -%}<br />Original by{% endif %}
      {%- if include.image.creatorurl %} <a href="{{ include.image.creatorurl }}">{{ include.image.creator }}</a>
      {%- else %} {{ include.image.creator }}
      {%- endif -%}
    {%- endif -%}
    {%- if include.image.licence %} Licence: include.image.licence {% endif %}</figcaption>
{%- endif -%}
</figure>
