{% if include.username -%}
  {%- assign name = include.username -%}
{%- elsif site.author -%}
  {%- if site.data.authors[site.author].name -%}
    {%- assign name = site.data.authors[site.author].name -%}
  {%- else -%}
    {%- assign name = site.author -%}
  {%- endif -%}
{%- else -%}
    {%- assign name = site.github.owner_name -%}
{%- endif -%}
{%- if include.githubname -%}
  {%- assign github = include.githubname -%}
{%- elsif site.author -%}
  {%- if site.data.authors[site.author].github -%}
    {%- assign github = site.data.authors[site.author].github -%}
  {%- else -%}
    {%- assign github = site.github.owner_name -%}
  {%- endif -%}
{%- else -%}
    {%- assign github = site.github.owner_name -%}
{%- endif -%}
<a href="https://github.com/{{ github }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ name }}</span></a>
