{%- comment %} this is the default behaviour if global isn't set {% endcomment -%}
{%- if page.collection and page.collection != "posts" -%}
  {%- capture imagePath %}collections/{{ page.collection }}/{{ page.title | slugify }}/{{ include.image.name }}{% endcapture -%}
  {%- assign baseimgPath = site.baseurl -%}
{%- else -%}
  {%- assign baseimgPath = site.baseurl -%}
  {%- capture imagePath %}posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ include.image.name }}{% endcapture -%}
{%- endif -%}
{%- comment %} behaviour if global is specified {% endcomment -%}
{%- if include.image.global -%}
  {%- if include.image.global == "global"-%}
    {%- capture imagePath %}global/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- elsif include.image.global == "project" -%}
    {%- capture imagePath %}global/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif include.image.global == "collection" and page.collection and page.collection != "posts" -%}
    {%- capture imagePath %}collections/{{ page.collection }}/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif include.image.global != "local" -%}{%- comment %} if its not local by this point, it'll be set to true {% endcomment -%}
    {%- capture imagePath %}global/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- endif -%}
{%- endif -%}
{%- comment %}liquid is retarded and has a replace, and a replace_first but no replace_last so we'll use some trickery to make it happen{% endcomment -%}
{%- assign imgReversed = imagePath | split: "" | reverse | join: "" -%}
{%- assign size320 = "-320." | split: "" | reverse | join: "" -%}
{%- assign size480 = "-480." | split: "" | reverse | join: "" -%}
{%- assign size800 = "-800." | split: "" | reverse | join: "" -%}
{%- assign size1600 = "-1600." | split: "" | reverse | join: "" -%}
{%- assign image320 = imgReversed | replace_first: '.', size320 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image480 = imgReversed | replace_first: '.', size480 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image800 = imgReversed | replace_first: '.', size800 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image1600 = imgReversed | replace_first: '.', size1600 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
    <picture class="post-image" href="{{ include.url | relative_url }}">
        <a class="post-click" href="{{ include.url | relative_url }}"></a>
        {%- if include.image %}
        <img src="{{ image320 }}" srcset="{{ image480 }} 480w, {{ image800 }} 800w, {{ image1600 }} 1600w" alt="">
        {% endif %}

         <h2>
           <a class="post-title" href="{{ include.url | relative_url }}">{{ include.title | escape }}</a>
         </h2>

{% if include.date -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
           <span class="post-date">{{ include.date | date: date_format }}</span>
{% endif -%}
{%- if include.author -%}
  {% if include.author.name %}
           <div class="post-author">Written by {% if include.author.page %}<a href="{{ include.author.page }}">{{ include.author.name }}</a>{% else %}{{ include.author.name }}{% endif %}</div>
  {% else %}
           <div class="post-author">Written by {{ include.author }}</div>
  {% endif -%}
{%- endif %}
</picture>
