{%- comment %} this is the default behaviour if global isn't set {% endcomment -%}
{%- if page.collection and page.collection != "posts" -%}
  {%- capture imagePath %}collections/{{ page.collection }}/{{ page.title | slugify }}/{{ include.image.name }}{% endcapture -%}
  {%- assign baseimgPath = site.baseurl -%}
{%- else -%}
  {%- assign baseimgPath = site.baseurl -%}
  {%- capture imagePath %}posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ include.image.name }}{% endcapture -%}
{%- endif -%}
{%- comment %} behaviour if global is specified {% endcomment -%}
{%- if include.image.global -%}
  {%- if include.image.global == "global"-%}
    {%- capture imagePath %}global/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- elsif include.image.global == "project" -%}
    {%- capture imagePath %}global/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif include.image.global == "collection" and page.collection and page.collection != "posts" -%}
    {%- capture imagePath %}collections/{{ page.collection }}/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif include.image.global != "local" -%}{%- comment %} if its not local by this point, it'll be set to true {% endcomment -%}
    {%- capture imagePath %}global/{{ include.image.name }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- endif -%}
{%- endif -%}
{%- comment %}liquid is retarded and has a replace, and a replace_first but no replace_last so we'll use some trickery to make it happen{% endcomment -%}
{%- assign imgReversed = imagePath | split: "" | reverse | join: "" -%}
{%- assign size320 = "-cropped-320." | split: "" | reverse | join: "" -%}
{%- assign size480 = "-cropped-480." | split: "" | reverse | join: "" -%}
{%- assign size800 = "-cropped-800." | split: "" | reverse | join: "" -%}
{%- assign size1200 = "-cropped-1200." | split: "" | reverse | join: "" -%}
{%- assign size1600 = "-cropped-1600." | split: "" | reverse | join: "" -%}
{%- assign image320 = imgReversed | replace_first: '.', size320 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image480 = imgReversed | replace_first: '.', size480 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image800 = imgReversed | replace_first: '.', size800 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image1200 = imgReversed | replace_first: '.', size1200 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
{%- assign image1600 = imgReversed | replace_first: '.', size1600 | split: "" | reverse | join: "" | prepend: '/assets/images/' | prepend: baseimgPath -%}
    <picture class="post-image">
      {%- if include.image %}
      <img src="{{ baseimgPath }}/assets/images/{{ imagePath }}" srcset="
        {{ image320 }} 320w,
        {{ image480 }} 480w,
        {{ image800 }} 800w,
        {{ image1200 }} 1200w,
        {{ image1600 }} 1600w"        
        {%- if include.featured %}
        sizes="
        (min-width: {{ site.on-laptop }}px) 66vw,
        (min-width: {{ site.on-tablet }}px) 50vw,
        100vw"
        {%- elsif include.newest or include.post %}
        sizes="100vw"
        {%- else %}
        sizes="
        (min-width: {{ site.on-laptop }}px) 33vw,
        (min-width: {{ site.on-tablet }}px) 50vw,
        100vw" 
        {%- endif %} itemprop="image" alt="">    
      {% endif %}
      <h2 class="post-title" itemprop="name{% if include.schema == "final" %} headline{% endif %}">{{ include.title | escape }}</h2>
      {% if include.date -%}
      <time class="post-date" datetime="{{ include.date | date_to_xmlschema }}"{% if include.schema == "final" %} itemprop="datePublished"{% endif %}>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{- include.date | date: date_format -}}
      </time>
      {% endif -%}
      {%- if include.author -%}
        {% if include.author.name %}
      <span class="post-author"{% if include.schema == "final" %} itemprop="author" itemscope itemtype="http://schema.org/Person"{% endif %}>Written by {% if include.author.page %}<a href="{{ include.author.page }}"{% if include.schema == "final" %} itemprop="url"{% endif %}><span{% if include.schema == "final" %} itemprop="name"{% endif %}>{{ include.author.name }}</span></a>{% else %}<span{% if include.schema == "final" %} itemprop="name"{% endif %}>{{ include.author.name }}</span>{% endif %}</span>
        {% else %}
      <span class="post-author"{% if include.schema == "final" %} itemprop="author" itemscope itemtype="http://schema.org/Person"{% endif %}>Written by <span{% if include.schema == "final" %} itemprop="name"{% endif %}>{{ include.author }}</span></span>
        {% endif %}
      {% endif %}
      {%- if include.url %}
      <a class="post-click" href="{{ include.url | relative_url }}" itemprop="url"></a>
      {%- endif %}
    </picture>
