<div class="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <div class="site-title" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/"><img src="/assets/images/logo.png" alt="{{ site.title | escape }}" /></a>
    <link itemprop="url" href="{{site.url}}{{site.logo.location}}" />
    <meta itemprop="width" content="{{site.logo.width}}" />
    <meta itemprop="height" content="{{site.logo.height}}" />
  </div>
  <meta itemprop="name" content="{{ site.title }}">
  <link itemprop="url" href="{{ site.url }}">
</div>
