---
layout: default
origin: "index"
---
<div class="home">
  {{ content }}

  {%- assign name = page.collection -%}
  {%- assign collection = site[name] | sort: 'order' -%}
 <ul class="post-list">
{% for document in collection -%}
{%- unless page.url == document.url-%}
  {%- if document.title == "overview" and overview != true %}
    <li class="post-entry post-newest">
    {%- assign overview = true %}
  {%- elsif document.title == "intro" and intro != true %}
    <li class="post-entry post-featured">
    {%- assign intro = true %}
  {%- else %}
    <li class="post-entry">
  {%- endif -%}

{% include indeximage.html image=document.image url=document.url title=document.title %}
    <div class="post-description">
{{ document.excerpt }}
    </div>
    </li>
{%- endunless -%}
{% endfor %}
  </ul>
</div>

