---
layout: default
origin: "index"
---
<div class="home">
  {{ content }}
  <ul class="post-list">
{%- assign post = site.posts[0] -%}
{%- if post.author -%}
  {%- if site.data.authors[post.author] -%}
    {%- assign author = site.data.authors[post.author] -%}
  {%- else -%}
    {%- assign author = post.author -%}
  {%- endif -%}
{%- elsif site.data.authors[site.author] -%}
  {%- assign author = site.data.authors[site.author] -%}
{%- else -%}
  {%- assign author = site.author -%}
{%- endif -%}

    <li class="post-entry post-newest">
{% include indeximage.html image=site.posts[0].image url=site.posts[0].url title=site.posts[].title author=author date=site.posts[0].date %}
    </div>
    <div class="post-description">
{{ site.posts[0].excerpt }}
    </div>
</li>
    {% for post in site.posts offset:1 %}

{%- if post.author -%}
  {%- if site.data.authors[post.author] -%}
    {%- assign author = site.data.authors[post.author] -%}
  {%- else -%}
    {%- assign author = post.author -%}
  {%- endif -%}
{%- elsif site.data.authors[site.author] -%}
  {%- assign author = site.data.authors[site.author] -%}
{%- else -%}
  {%- assign author = site.author -%}
{%- endif -%}

    {% if post.featured == true and featured != true %}
    {% assign featured= true %}
      <li class="post-entry post-featured">
    {% else %}
      <li class="post-entry">
    {% endif %}
{% include indeximage.html image=post.image url=post.url title=post.title author=author date=post.date %}
    <div class="post-description">
{{ post.excerpt }}
    </div>

      </li>
    {% endfor %}
  </ul>

</div>
