---
layout: default
origin: "index"
---
<div class="home">
  {{ content }}
  <ul class="article-list" itemprop="mainEntity" itemscope itemtype="http://schema.org/ItemList">

{% for collection in site.collections %}
{%- unless collection.label == "posts" -%}
  {%- comment %} grab the index page of the collection {% endcomment -%}
  {%- assign collectionindex = collection.relative_directory | append: '/index.md' -%}
  {%- assign indexpages = collection.docs | where: "relative_path", collectionindex -%}
  {%- assign indexpage = indexpages[0] %}
    <li class="article-entry"  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
{%- capture url -%}{{site.baseurl}}/{{ collection.label }}{% endcapture -%}
    <meta itemprop="position" content="{% increment counter %}" />
{% include indeximage.html image=indexpage.image url=collection.label title=collection.label %}
    <div class="article-description" itemprop="description">
{{ indexpage.excerpt }}
    </div>
    </li>
{%- endunless -%}
{% endfor %}
  </ul>
</div>
