---
layout: default
origin: "index"
---
<div class="home">
  {{ content }}
  <ul class="post-list">

{% for collection in site.collections %}
{%- unless collection.label == "posts" -%}
{%- comment %} grab the index page of the collection {% endcomment -%}
{%- assign collectionindex = collection.relative_directory | append: '/index.md' -%}
{%- assign indexpages = collection.docs | where: "relative_path", collectionindex -%}
{%- assign indexpage = indexpage[0] %}
    <li class="post-entry">
{%- capture url -%}{{site.baseurl}}/{{ collection.label }}{% endcapture -%}
{% include indeximage.html image=indexpage.image url=url title=collection.label %}

    <div class="post-description">
{{ collection.excerpt }}
    </div>
    </li>
{%- endunless -%}
{% endfor %}
  </ul>
</div>

