---
layout: default
origin: "post"
---
<article class="post" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">{%- if page.image %}
    {% include indeximage.html image=indexpage.image url=collection.label title=collection.label post=true %}
    <link itemprop="mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}" />
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
  <div class="article-foot">
    {% include sitelogo.html %}
  </div>
</article>
