---
layout: default
origin: "post"
---
<article class="post" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
{%- comment %} this is the default behaviour if global isn't set {% endcomment -%}
{%- if page.collection and page.collection != "posts" -%}
  {%- capture imagePath %}collections/{{ page.collection }}/{{ page.title | slugify }}/{{ page.image.name }}{% endcapture -%}
  {%- assign baseimgPath = site.baseurl -%}
{%- else -%}
  {%- assign baseimgPath = site.baseurl -%}
  {%- capture imagePath %}posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ page.image.name }}{% endcapture -%}
{%- endif -%}
{%- comment %} behaviour if global is specified {% endcomment -%}
{%- if page.image.global -%}
  {%- if page.image.global == "global"-%}
    {%- capture imagePath %}global/{{ page.image.name }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- elsif page.image.global == "project" -%}
    {%- capture imagePath %}global/{{ page.image.name }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif page.image.global == "collection" and page.collection and page.collection != "posts" -%}
    {%- capture imagePath %}collections/{{ page.collection }}/{{ page.image.name }}{% endcapture -%}
    {%- assign baseimgPath = site.baseurl -%}
  {%- elsif page.image.global != "local" -%}{%- comment %} if its not local by this point, it'll be set to true {% endcomment -%}
    {%- capture imagePath %}global/{{ page.image.name }}{% endcapture -%}
    {%- assign baseimgPath = '' -%}
  {%- endif -%}
{%- endif -%}

{%- if page.author -%}
  {%- if site.data.authors[page.author] -%}
    {%- assign author = site.data.authors[page.author] -%}
  {%- else -%}
    {%- assign author = page.author -%}
  {%- endif -%}
{%- elsif site.data.authors[site.author] -%}
  {%- assign author = site.data.authors[site.author] -%}
{%- else -%}
  {%- assign author = site.author -%}
{%- endif -%}

  <header class="post-header">{%- if page.image %}
    <img class="post-head-image" itemprop="image" src="{{ baseimgPath }}/assets/images/{{ imagePath }}" />{%- endif %}
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{- page.date | date: date_format -}}
    </time>
    {%- if author.name %}
    <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">Written by {% if author.page %}<a href="{{author.page}}"><span itemprop="name">{{ author.name }}</span></a>{% else %}<span itemprop="name">{{ author.name }}</span>{% endif %}</span>
{%- else %}
    <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">Written by <span itemprop="name">{{ author }}</span></span>
{%- endif %}
  <link itemprop="mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}" />
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
  <div class="article-foot">
    {% include sitelogo.html %}
  </div>
</article>
