---
layout: default
origin: "TechArticle"
---
<article class="page" itemprop="mainEntity" itemscope itemtype="http://schema.org/TechArticle">

  <header class="page-header">
    <img class="post-head-image" itemprop="image" src="{{ baseimgPath }}/assets/images/{{ imagePath }}" />{%- endif %}
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{- page.date | date: date_format -}}
    </time>
    {% if author.name %}
    <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">Written by {% if author.page %}<a href="{{author.page}}"><span itemprop="name">{{ author.name }}</span></a>{% else %}<span itemprop="name">{{ author.name }}</span>{% endif %}</span>
      {% else %}
    <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">Written by <span itemprop="name">{{ author }}</span></span>
      {% endif %}
    <link itemprop="mainEntityOfPage" href="{{ site.baseurl }}{{ page.url }}" />
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div class="article-foot">
    <div class="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
        <img src="/assets/images/logo.png" alt="{{ site.title }}"/>
        <link itemprop="url" href="{{site.url}}/assets/images/logo.png" />
        <meta itemprop="width" content="426" />
        <meta itemprop="height" content="60" />
      </div>
      <meta itemprop="name" content="{{ site.title }}">
      <link itemprop="url" href="{{ site.url }}">
    </div>
  </div>
</article>
